doctype html
head
  title S.C Report Form
  include ./template/meta.pug
  meta(name='description' content='Report page for Survival City.')
  link(rel='stylesheet' href='/style_index.css')
  
  include ./template/nav.pug
  
.jumbotron.jumbotron-fluid.p-3.sticky-top
  h3 Fill out the form below to report.

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeiLowAhJbrSTel32GfdyE32n2PaLUOswRGVtFBCqSzg72fng/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>