.alert.alert-info.alert-dismissible.fade.show.fixed-bottom.m-2(role="alert")
  strong S.C Update: 
  a Join in on July 6th at 6:00 PM for the first meeting of government.
  button.close(type="button" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;