nav.mb-3.navbar.navbar-dark.bg-dark.sticky-top.navbar-expand-sm
    a.navbar-brand(href='/')
      img.d-inline-block(src="https://cdn.glitch.com/7465df0a-888a-475f-a6f6-b08cd3ef581b%2F7B9266BC-915C-4C4A-A78E-97E984E470B2.png?v=1593293555893" width="30" height="30" alt="")
      span.ml-2 Survival City
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
      
    .collapse.navbar-collapse#navbarNavAltMarkup
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home Page
        li.nav-item
          a.nav-link(href='/rules') Rules & Info
        li.nav-item
          a.nav-link(href='/offenses') Offenses
        li.nav-item
          a.nav-link(href='/report') Report

// Breaks so the nav doesn't overlap content
